:root{
    --mycolor001:#ececec;
    --mycolor002:#845e5e;
    --mycolor003:#ffb6a2;
    --mycolor004:#272727;
}

body {
    background-color: var(--mycolor001);
}

.wrapper {
    width: 1024px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color:  var(--mycolor002);
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    float: left;
}

nav ul li a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    text-decoration: none;
    color:  var(--mycolor001);
    font-weight: 500;
    font-family:'Yusei Magic';

}

nav ul li a:hover {
    color:  var(--mycolor003);
}

.content_in {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
}

.content_in h1 {
    text-align: center;
    color:  var(--mycolor002);
    font-weight: 600;

}

.content_in p {
    font-size: 14pt;
    margin-top: 30px;
    color: var(--mycolor004);
}

.content_in a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color:  var(--mycolor002);
    color:  var(--mycolor01);
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}

.content_in a:hover {
    color:  var(--mycolor003);
}

.footer {
    background-color:  var(--mycolor002);
    text-align: center;
}

.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color:  var(--mycolor001);
}

/* 切換行動裝置時畫面隨介面縮放 */
@media screen and (max-width:1024px){
    .wrapper{
        width: 100%;
    }
}
