body{
    background-color: var(--mycolor01);
    width: 1040px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}



nav {
    background-color: var(--mycolor02);
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav ul li {
 
    display: block;
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  

}

nav ul li a{
    background-color: var(--mycolor03);
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    font-size: 12pt;
    text-decoration: none;
    color: var(--mycolor02);
    font-weight: 600;
}

nav ul li a:hover{
    background-color: var(--mycolor04);
    color: var(--mycolor03);
}

.content{
    background-color: var(--mycolor05);
    padding-top: 5px;
    padding-bottom: 45px;
    padding-right: 30px;
    padding-left: 30px;

}

.sidebar{
    background-color: var(--mycolor02);
    width: 220px;
    /* 80vh為瀏覽器高度的50% */
    height: 40vh;
    float: left;
    margin-right: 50px;
    margin-top: 0px;

}

.sidebar ul li {
   
    list-style-type: none;
}

.sidebar ul li a{
    display: block;
    background-color: var(--mycolor03);
    width: 120px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
    color: var(--mycolor02);
    border-radius: 15px;
}


.content_in h1{
    text-align: center;
    padding-top: 5px;
    color: var(--mycolor02);
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.content_in p{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 40px;
  margin-left: 40px;
  color: var(--mycolor07);
  font-size: 10pt;

}

.content a{
    display: block;
    background-color: var(--mycolor02);
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: var(--mycolor03);
    font-weight: 600;
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.content a:hover{
    background-color: var(--mycolor04);
    color: var(--mycolor03);
}

.footer{
    background-color: var(--mycolor02);
    
}

.footer p{
    font-size: 12pt;
    color: var(--mycolor03);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width:1024px) {
    .wrapper {
        width: 100%;
    }
    .sidebar{
        width: 100%;
        height: auto;
      text-align: center;
    }
    .sidebar ul{
        display: inline-block;
    }
    .sidebar ul li{
        float: left;
        margin-right: 5px;
    }
}